@font-face {
    font-family: 'Albra Regular';
    src: url('fonts/Albra-Regular.woff2') format('woff2'),
         url('fonts/Albra-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lora', serif;
    /* Font Albra Regular will be added here */
}

.container {
    text-align: center;
} 